//Fuentes
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

//Colores
$whiteF: #FFFFFF;
$whiteF8: #f8f8f8;
$whiteF9: #f9f9f9;
$black1: #111111;
$black2: #222222;
$black3: #333333;
$beige: #BEAD8E;
$beigeHover: #c0a87d;
$greyC2: #C2C2C2;
$grey68: #686868;
$grey29:#292929;
$grey7: #777777;
$greyBD: #BDBDBD;
$pink: #DE5777;

//Fuentes
$archivo: 'Archivo', sans-serif;
$old: 'Old Standard TT' , serif;
$roboto: 'Roboto' , sans-serif;