@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.navbar {
  background-color: #FFFFFF;
  display: flex;
  padding-bottom: 7%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
}
@media screen and (min-width: 1000px) {
  .navbar {
    max-width: 85%;
    padding-bottom: 8%;
    margin-left: 8%;
  }
}
.navbar__menu {
  margin-top: 1.75rem;
  margin-left: 1.25rem;
  height: 0.81rem;
  width: 1.25rem;
}
@media screen and (min-width: 1000px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__dropdown {
  position: absolute;
  left: 0%;
  margin-top: 17%;
  display: none;
  width: 100%;
  padding-top: 1%;
  background-color: #FFFFFF;
}
@media screen and (min-width: 1000px) {
  .navbar__dropdown {
    display: flex;
    background-color: transparent;
    margin-top: 2%;
    left: 36%;
    max-width: 50%;
  }
}
.navbar__dropdown__page {
  display: flex;
  flex-direction: column;
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  text-align: left;
  color: #222222;
  text-decoration: none;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-top: 0.6rem;
}
@media screen and (min-width: 1000px) {
  .navbar__dropdown__page {
    margin-right: 2rem;
  }
}
.navbar__logo {
  position: absolute;
  left: 17%;
  display: flex;
  padding-top: 1.06rem;
}
@media screen and (min-width: 1000px) {
  .navbar__logo {
    left: 15%;
  }
}
.navbar__logo__title {
  font-family: "Archivo", sans-serif;
  font-size: 0.6rem;
  font-weight: 500;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
@media screen and (min-width: 1000px) {
  .navbar__logo__title {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.7rem;
    letter-spacing: 0.16rem;
    text-align: left;
  }
}
.navbar__logo__subtitle {
  font-family: "Archivo", sans-serif;
  font-size: 0.6rem;
  font-weight: 400;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
@media screen and (min-width: 1000px) {
  .navbar__logo__subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7rem;
    letter-spacing: 0.16rem;
    text-align: left;
  }
}
.navbar__logo__box {
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.1rem;
  box-shadow: 5px 10px 14px 0px rgba(139, 139, 139, 0.2509803922);
}
@media screen and (min-width: 1000px) {
  .navbar__logo__box {
    width: 5rem;
    height: 5rem;
  }
}
.navbar__logo__box__letter {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .navbar__logo__box__letter {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.72rem;
    margin-top: 1rem;
  }
}
.navbar__icon {
  position: absolute;
  right: 12%;
  display: flex;
}
@media screen and (min-width: 1000px) {
  .navbar__icon__logo {
    width: 3.75rem;
    height: 3.75rem;
    margin-top: 1.5rem;
    margin-right: 2rem;
    border: 2px solid rgba(133, 133, 133, 0.3019607843);
  }
}
.navbar__icon__logo__vector {
  margin-top: 1.43rem;
  margin-left: 1rem;
  width: 1rem;
  height: 1.2rem;
}
@media screen and (min-width: 1000px) {
  .navbar__icon__logo__vector {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 26%;
    margin-bottom: 0%;
  }
}

.header {
  background-color: #333333;
}
.header__back {
  display: none;
}
@media screen and (min-width: 1000px) {
  .header__back {
    background-color: #222222;
    height: 6.25rem;
  }
}
.header__title {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.1rem;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
  padding-top: 4.6rem;
  padding-left: 1.25rem;
}
@media screen and (min-width: 1000px) {
  .header__title {
    padding-left: 12%;
    padding-top: 10%;
    font-size: 0.87rem;
    font-weight: 700;
    line-height: 0.95rem;
    letter-spacing: 0.17rem;
    text-align: left;
  }
}
.header__section {
  font-weight: 400;
  font-size: 3.5rem;
  letter-spacing: -0.07rem;
  color: #FFFFFF;
  font-family: "Old Standard TT", serif;
  padding-top: 2.5rem;
  padding-left: 1.25rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1000px) {
  .header__section {
    padding-left: 12%;
    font-size: 7.5rem;
    line-height: 8rem;
    letter-spacing: -0.2rem;
  }
}
.header__box {
  display: flex;
  justify-content: end;
}
@media screen and (min-width: 1000px) {
  .header__box {
    padding-right: 11%;
  }
}
.header__box__home {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: -0.03rem;
  background-color: #FFFFFF;
  padding-left: 5%;
  padding-bottom: 5%;
  padding-top: 4%;
}
@media screen and (min-width: 1000px) {
  .header__box__home {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
  }
}
.header__box__line {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: -0.03rem;
  background-color: #FFFFFF;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 4%;
}
@media screen and (min-width: 1000px) {
  .header__box__line {
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
.header__box__page {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: -0.03rem;
  background-color: #FFFFFF;
  color: #BEAD8E;
  padding-right: 5%;
  padding-top: 4%;
  margin-right: 1rem;
}
@media screen and (min-width: 1000px) {
  .header__box__page {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
  }
}
.header__take {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 18%;
  padding-right: 18%;
  background-color: #BEAD8E;
  border: transparent;
  font-family: "Archivo", sans-serif;
  color: #FFFFFF;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1000px) {
  .header__take {
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 12%;
    margin-bottom: 8%;
  }
}
.header__learn {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 17%;
  padding-right: 18%;
  background-color: #333333;
  border: transparent;
  font-family: "Archivo", sans-serif;
  color: #FFFFFF;
  margin-left: 1.5rem;
  margin-bottom: 4rem;
  border: 2px solid rgba(255, 255, 255, 0.3294117647);
}
@media screen and (min-width: 1000px) {
  .header__learn {
    padding-left: 3%;
    padding-right: 3%;
  }
}
.header__check {
  background-color: #222222;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}
@media screen and (min-width: 1000px) {
  .header__check {
    display: flex;
    justify-content: space-around;
  }
}
.header__check__box__date {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.17rem;
  text-align: left;
  color: #FFFFFF;
  padding-bottom: 1rem;
}
.header__check__box__calendar {
  position: relative;
}
@media screen and (min-width: 1000px) {
  .header__check__box__calendar {
    margin-top: 1rem;
  }
}
.header__check__box__calendar__input {
  border: transparent;
  border-bottom: 2px solid #BEAD8E;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 5%;
  margin-bottom: 1rem;
  background-color: #222222;
}
@media screen and (min-width: 1000px) {
  .header__check__box__calendar__input {
    padding-left: 15%;
  }
}
.header__check__box__calendar__logo {
  position: absolute;
  top: 20%;
}
@media screen and (min-width: 1000px) {
  .header__check__box__calendar__logo {
    top: 16%;
  }
}
.header__check__button {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 18%;
  padding-right: 18%;
  background-color: #BEAD8E;
  border: transparent;
  font-family: "Archivo", sans-serif;
  color: #FFFFFF;
}
@media screen and (min-width: 1000px) {
  .header__check__button {
    padding-left: 4%;
    padding-right: 4%;
    max-height: 3.75rem;
    margin-top: 1rem;
    margin-right: 4rem;
  }
}

.footer {
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}
@media screen and (min-width: 1000px) {
  .footer {
    padding-left: 0%;
    padding-right: 0%;
  }
}
@media screen and (min-width: 1000px) {
  .footer__section {
    display: flex;
    justify-content: space-around;
  }
}
.footer__section__article {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 1000px) {
  .footer__section__article {
    max-width: 16.8rem;
    margin-left: 4rem;
  }
}
.footer__section__article__logo {
  display: flex;
  padding-top: 1.06rem;
  margin-bottom: 1rem;
}
.footer__section__article__logo__box {
  box-shadow: 5px 10px 14px 0px rgba(139, 139, 139, 0.2509803922);
  background-color: #BEAD8E;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
}
.footer__section__article__logo__box__letter {
  font-family: "Archivo", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
}
.footer__section__article__logo__title {
  font-family: "Archivo", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  padding-left: 1rem;
  padding-top: 0.2rem;
}
.footer__section__article__text {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #777777;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.footer__section__article__box {
  display: flex;
  justify-content: start;
  margin-bottom: 2rem;
}
.footer__section__article__box__logo {
  margin-left: 3%;
  margin-right: 3%;
}
@media screen and (min-width: 1000px) {
  .footer__section__article__service {
    margin-top: 4rem;
  }
}
.footer__section__article__service__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #222222;
}
.footer__section__article__service__options {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.footer__section__article__service__options__listServices {
  margin-right: 1rem;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 3rem;
  color: #777777;
}
@media screen and (min-width: 1000px) {
  .footer__section__article__service__options__listServices {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 3rem;
    color: #777777;
  }
}
.footer__section__article__service__options__listServices__activity {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 3rem;
  color: #777777;
}
@media screen and (min-width: 1000px) {
  .footer__section__article__contact {
    margin-top: 3rem;
  }
}
.footer__section__article__contact__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #222222;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.footer__section__article__contact__call {
  display: flex;
  margin-bottom: 3rem;
}
.footer__section__article__contact__call__phone {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-left: 1rem;
}
.footer__section__article__contact__call__number {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1rem;
  margin-left: 1rem;
}
.footer__back {
  position: absolute;
  width: 21rem;
  top: 0%;
}
@media screen and (min-width: 1000px) {
  .footer__back {
    width: 100%;
    height: 30rem;
  }
}
@media screen and (min-width: 1000px) {
  .footer__info {
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
    align-items: center;
    width: 100%;
  }
}
.footer__info__copyright {
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 0.03rem;
  color: #222222;
}
@media screen and (min-width: 1000px) {
  .footer__info__copyright {
    padding-bottom: 1rem;
    margin-top: 1rem;
  }
}
.footer__info__terms {
  display: flex;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.footer__info__terms__use {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 0.03rem;
  color: #222222;
  margin-right: 0.5rem;
}
.footer__info__terms__privacy {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 0.03rem;
  color: #222222;
  margin-left: 0.5rem;
}

.offers {
  margin-top: 2rem;
}
@media screen and (min-width: 1000px) {
  .offers {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.offers__cards {
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}
@media screen and (min-width: 1000px) {
  .offers__cards {
    position: relative;
    margin-top: 10%;
    margin-bottom: 20%;
  }
}
.offers__cards__button {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 21%;
  padding-right: 23%;
  background-color: #BEAD8E;
  border: transparent;
  font-family: "Archivo", sans-serif;
  color: #FFFFFF;
  margin-bottom: 4rem;
}
@media screen and (min-width: 1000px) {
  .offers__cards__button {
    padding-left: 7%;
    padding-right: 7%;
    position: absolute;
    bottom: 4%;
    left: 4.5%;
  }
}
.offers__cards__room {
  height: 10.1rem;
  width: 20.9rem;
  position: relative;
}
@media screen and (min-width: 1000px) {
  .offers__cards__room {
    width: 73rem;
    height: 35rem;
  }
}
.offers__cards__box {
  position: absolute;
  right: 8%;
  top: 11%;
}
.offers__cards__box__offer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #DE5777;
  padding-left: 5%;
  padding-right: 5%;
}
.offers__cards__box__offer__dolar {
  font-family: "Archivo", sans-serif;
  font-size: 1.87rem;
  font-weight: 700;
  line-height: 2rem;
  padding-left: 0.2rem;
}
.offers__cards__box__offer__day {
  font-family: "Archivo", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.81rem;
  text-align: right;
  margin-top: 1rem;
}
.offers__cards__box__price {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  color: #BEAD8E;
  text-decoration: line-through;
}
.offers__cards__box__price__dolar {
  font-family: "Archivo", sans-serif;
  font-size: 1.43rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: right;
}
.offers__cards__box__price__day {
  font-family: "Archivo", sans-serif;
  font-size: 0.68rem;
  font-weight: 700;
  line-height: 0.75rem;
  text-align: right;
  margin-top: 1rem;
}
.offers__cards__tipe {
  font-family: "Archivo", sans-serif;
  font-size: 0.87rem;
  font-weight: 700;
  line-height: 0.95rem;
  letter-spacing: 0.17rem;
  text-align: left;
  color: #777777;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1000px) {
  .offers__cards__tipe {
    padding-left: 5%;
  }
}
.offers__cards__model {
  font-family: "Old Standard TT", serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.09rem;
  text-align: left;
  color: #222222;
}
@media screen and (min-width: 1000px) {
  .offers__cards__model {
    padding-left: 5%;
  }
}
.offers__cards__text {
  font-family: "Roboto", sans-serif;
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  color: #777777;
  margin-top: 1rem;
}
@media screen and (min-width: 1000px) {
  .offers__cards__text {
    padding-left: 5%;
    max-width: 60%;
  }
}
.offers__cards__services {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.offers__cards__services__list {
  list-style-type: none;
  margin-right: 0.8rem;
  margin-bottom: 5rem;
}
.offers__cards__services__list__info {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1rem;
  text-align: left;
  margin-bottom: 1rem;
}
.offers__cards__services__list__info__logo {
  margin-right: 0.5rem;
}
.offers__popular {
  background-color: #222222;
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1000px) {
  .offers__popular {
    width: 100%;
    margin-top: 10%;
  }
}
.offers__popular__list {
  font-family: Archivo;
  font-size: 14px;
  font-weight: 500;
  line-height: 15.23px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  color: #BEAD8E;
  margin-bottom: 1rem;
  text-align: center;
}
.offers__popular__rooms {
  font-family: "Old Standard TT", serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -0.05rem;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 2rem;
  text-align: center;
}
.offers__popular__box__slide {
  width: 20.9rem;
  height: 13.6rem;
}
@media screen and (min-width: 1000px) {
  .offers__popular__box__slide {
    width: 23rem;
    height: 15rem;
  }
}
.offers__popular__box .swiper-offers {
  width: 20.9rem;
  height: 13.6rem;
}
.offers__popular__box .swiper-offers .swiper-button-prev {
  color: #222222;
  padding: 1rem;
  background-color: #FFFFFF;
  --swiper-navigation-size: 1rem;
}
.offers__popular__box .swiper-offers .swiper-button-prev:hover {
  background-color: #BEAD8E;
}
.offers__popular__box .swiper-offers .swiper-button-next {
  color: #222222;
  padding: 1rem;
  background-color: #FFFFFF;
  --swiper-navigation-size: 1rem;
}
.offers__popular__box .swiper-offers .swiper-button-next:hover {
  background-color: #BEAD8E;
}
.offers__popular__box__boxLogo {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  max-width: 16rem;
  padding-left: 4%;
  padding-top: 3%;
  padding-bottom: 3%;
  position: absolute;
  bottom: 39%;
  left: 21%;
  z-index: 1;
}
.offers__popular__box__boxLogo__img {
  padding-right: 1rem;
}
@media screen and (min-width: 1000px) {
  .offers__popular__box__boxLogo {
    padding-bottom: 1%;
    padding-top: 1%;
    padding-right: 21%;
    padding-left: 10%;
    top: 49%;
    left: 15%;
  }
}
.offers__popular__box__container {
  background-color: #FFFFFF;
  padding-top: 1rem;
}
.offers__popular__box__container__room {
  font-family: "Old Standard TT", serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -0.045rem;
  text-align: center;
  color: #222222;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 1rem;
}
.offers__popular__box__container__text {
  font-family: "Roboto", sans-serif;
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: center;
  color: #777777;
}
.offers__popular__box__container__price {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding-bottom: 2rem;
}
.offers__popular__box__container__price__pricing {
  color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  text-align: right;
  padding-right: 1rem;
}
.offers__popular__box__container__price__booking {
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  text-align: right;
  color: #BDBDBD;
}

.swiper-facilities {
  width: 20.9rem;
  height: 23.1rem;
}
.swiper-facilities .swiper-pagination-bullet-active {
  background-color: #BEAD8E;
}

@media screen and (min-width: 1000px) {
  .container-desk {
    position: absolute;
    background-color: #FFFFFF;
    max-width: 65rem;
    top: 85%;
    left: 10%;
  }
}

.lineDesk {
  display: none;
}
@media screen and (min-width: 1000px) {
  .lineDesk {
    display: block;
    background-color: #BDAC8D;
    height: 0.5rem;
  }
}

@media screen and (min-width: 1000px) {
  .containerDesk-sec {
    display: flex;
    padding-right: 5%;
    justify-content: space-between;
  }
}

.popular-box-desktop {
  display: none;
}
@media screen and (min-width: 1000px) {
  .popular-box-desktop {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
}

.slide {
  display: block;
}
@media screen and (min-width: 1000px) {
  .slide {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .cardDesktop {
    max-width: 23rem;
    position: relative;
  }
}/*# sourceMappingURL=offer.css.map */