.details{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    &__tipe{
        font-family: $archivo;
        font-weight: 700;
        font-size: 0.87rem;
        line-height: 0.95rem;
        letter-spacing: 0.17rem;
        color: $grey7;
        margin-top: 2rem;
    }
    &__title{
        font-family: $old;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 3rem;
        letter-spacing: -0.09rem;
        color: $black2;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    &__price{
        display: flex;
        margin-bottom: 1rem;
        &__dolar{
            font-family: $archivo;
            font-size: 2rem;
            font-weight: 700;
            line-height: 2.6rem;
            text-align: center;
            color: $beige;
        }
        &__time{
            font-family: $archivo;
            font-size: 0.8rem;
            font-weight: 700;
            line-height: 2.6rem;
            text-align: center; 
            color: $beige;    
        }
    }
    &__rooms{
        width: 21rem;
        height: 13.3rem;
        margin-bottom: 2rem;
        @media screen and (min-width: 1000px) {
            width: 48rem;
            height: 30rem;
        }
    }
    &__availability{
        font-family: $archivo;
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 1.2rem;
        letter-spacing: -0.03rem;
        text-align: center;
    }
    &__container{
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2rem;        
        position: relative;
        
        &__check{
            font-family: $archivo;
            font-size: 0.87rem;
            font-weight: 700;
            line-height: 0.95rem;
            text-align: left;
            color: $black2;
            margin-top: 1rem;
        }
        &__calendar{
            padding-left: 1.5rem;
            padding-right: 4.3rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-top: 1rem;
            background-color: $whiteF8;
            border:transparent;
        }
        &__logoIn{
            position: absolute;
            right: 15%;
            bottom: 44%;
        }
        &__logoOut{
            position: absolute;
            right: 15%;
            top: 20%;
        }
        &__button{
            @include defaultbutton($backgroundColor: $beige,$paddingLeft:0rem,$paddingRight: 0rem);
            margin-top: 2rem;
            margin-bottom: 2rem;
        }       
    }
    &__text{
        font-family: $roboto;
        font-size: 0.87rem;
        font-weight: 400;
        line-height: 1.5rem;
        text-align: left;
        color: $grey7;
        margin-bottom: 2rem;
    }
    &__amenities{
        font-family: $old;
        font-size: 1.87rem;
        font-weight: 400;
        line-height: 1.87rem;
        text-align: left;
        color: $black2;
        @media screen and (min-width: 1000px) {
            padding-left: 10%;
            padding-right: 90%;
        }
    }
    &__services{
        display: flex;
        margin-top: 1rem;
        @media screen and (min-width: 1000px) {
            margin-top: 5%;
            justify-content: space-around;
            width: 48rem;
        }
        &__list{
            list-style-type: none;
            margin-right: 0.8rem;
            margin-bottom: 5rem;
            &__info{
                font-family: $roboto;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.1rem;
                text-align: left;
                margin-bottom: 1rem;
                &__logo{
                    margin-right: 0.5rem;
                }
            }
            @media screen and (min-width: 1000px) {
                display: none;
                
            }
        }
    }
    &__founder{
        position: relative;
        &__ellipse{
            position: absolute;
            right: 29%;
            z-index: 1;
        }
        &__check{
            position: absolute;
            right: 33%;
            top:4%;
            z-index: 2; 
            @media screen and (min-width: 1000px) {
                top: 15%;
            }
        }
        &__photo{
            width: 9.3rem;
            height: 9.3rem;
            border-radius: 100%;
            position: relative;
            left: 28%;
        }
        &__name{
            font-family: $old;
            font-size: 1.87rem;
            font-weight: 400;
            line-height: 1.87rem;
            letter-spacing: -0.05rem;
            text-align: center;
            margin-top: 2rem;
        }
        &__co{
            font-family: $archivo;
            font-size: 0.87rem;
            font-weight: 700;
            line-height: 0.95rem;
            letter-spacing: 0.17rem;
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
            color: $beige;
        }
        &__text{
            font-family: $archivo;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
            text-align: center;
            color: $grey7;
            margin-bottom: 2rem;
            @media screen and (min-width: 1000px) {
                padding-left: 9%;
                padding-right: 9%;
            }
        }
        @media screen and (min-width: 1000px) {
            width: 23rem;
            height: 28rem;
            box-shadow: 0px 14px 24px 0px #BEAD8E45;
            margin-top: 15%;
            margin-right: 55%;
            padding-top: 7%;
        }
    }
    &__cancellation{
        font-family: $old;
        font-size: 1.87rem;
        font-weight: 400;
        line-height: 1.87rem;
        text-align: left;
    }
    &__text{
        font-family: $roboto;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        text-align: left;
        color: $grey7;
        margin-top: 1rem;
        margin-bottom: 2rem;
        @media screen and (min-width: 1000px) {
            margin-bottom: 20%;
        }
    }
    &__box{
        margin-top: 1rem;
        position: relative;
        @media screen and (min-width: 1000px) {
            display: none;
        }
       
        &__image{
            width: 20.9rem;
            height: 13.6rem;
            @media screen and (min-width: 1000px) {
                width: 23rem;
                height: 15rem;
            }
        }
        .swiper{
            height: 15.25rem;
            width: 20.9rem;
           
                
        .swiper-button-prev{
            color: $black2;
            padding: 1rem;
            background-color: $whiteF;
            --swiper-navigation-size: 1rem;
            &:hover{
                background-color: $beige;
            }
            }
        .swiper-button-next{
            color: $black2;
            padding: 1rem;
            background-color: $whiteF;
            --swiper-navigation-size: 1rem;
            &:hover{
                background-color: $beige;
            }
        }
        }            
        &__boxLogo{
            display: flex;
            align-items: center;
            background-color: $whiteF;
            max-width: 16rem;
            padding-left: 6%;
            padding-right: 37%;
            padding-top: 3%;
            padding-bottom: 3%;
            position: absolute;
            bottom: 38%;
            left: 12%;
            z-index: 1 ;
            @media screen and (min-width: 1000px) {
                bottom: 39%;
                max-width:19rem;
                left: 9%;
                padding-left: 13%;
            }
            &__logo{
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }
            &__img{
                padding-right: 1rem;
            }
        }
        &__title{
            font-family: $old;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.5rem;
            letter-spacing: -0.04rem;
            text-align: center;
            color: $black2;
            margin-top: 1rem;
            @media screen and (min-width: 1000px) {
                margin-top: 10%;
                margin-bottom: 5%;
            }
            
        }
        &__text{
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            color: $grey7;
            margin-top: 1rem;
            margin-bottom: 1rem;
            @media screen and (min-width:1000px) {
                padding-left: 15%;
                padding-right: 15%;
            }
            
        }
        &__container{
            display: flex;
            justify-content: center;
            margin-top: 1rem;
            margin-bottom: 1rem;  
            &__price{
                font-family: $archivo;
                font-size: 1rem;
                font-weight: 700;
                line-height: 1rem;
                text-align: right;
                color: $beige;
                margin-right: 0.5rem;
            }
            &__booking{
                font-family: Archivo;
                font-size: 16px;
                font-weight: 700;
                line-height: 17.41px;
                text-align: right;
                color: $greyBD;
                margin-left: 0.5rem;

            }
        }
       
    } 
}
.containerDesktop{
    @media screen and (min-width: 1000px) {
        position: relative;
        margin-left: 12%;
    }
}
.containerInfo{
    @media screen and (min-width: 1000px) {
        display: flex;
        align-items: center;
        justify-content: space-around;
        bottom: 87%;
        position: absolute;
        background-color: white;
        width: 45rem;
    }
}
.formDesktop{
    @media screen and (min-width: 1000px) {
        max-width: 23rem;
        margin-left: 5%;
    }
}
.containerForm{
    @media screen and (min-width: 1000px) {
        display: flex;
        margin-top: 15%;
    }
}
.sectionDesktop{
    @media screen and (min-width: 1000px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        margin-left: 12%;
        max-width: 48rem;
    }
}
.ListDesk{
    display: none;
    @media screen and (min-width: 1000px) {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 15%;
    }
}
.container-cancellation{
    @media screen and (min-width: 1000px) {
        margin-top: 15%;
    }
}
.desktop-line{
    @media screen and (min-width: 1000px) {
        width: 100%;
        margin-bottom: 15%;
    }
}
.photos-desktop{
    @media screen and (min-width: 1000px) {
        position: relative;
        max-width: 23rem;
        display: flex;
    }
}
.card-desktop{
    @media screen and (min-width: 1000px) {
        margin-right: 15%;
    }
}
.container-photos{
    @media screen and (min-width:1000px) {
        width: 100%;
        margin-bottom: 10%;
    }
}
.container-swipper{
    @media screen and (min-width:1000px) {
        display: flex;
    }
}
.card-desktopGrid{
    @media screen and (min-width:1000px) {
        max-width: 23rem;
        position: relative;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
.rooms-grid{
    @media screen and (min-width:1000px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
}




