@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.footer {
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}
@media screen and (min-width: 1000px) {
  .footer {
    padding-left: 0%;
    padding-right: 0%;
  }
}
@media screen and (min-width: 1000px) {
  .footer__section {
    display: flex;
    justify-content: space-around;
  }
}
.footer__section__article {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 1000px) {
  .footer__section__article {
    max-width: 16.8rem;
    margin-left: 4rem;
  }
}
.footer__section__article__logo {
  display: flex;
  padding-top: 1.06rem;
  margin-bottom: 1rem;
}
.footer__section__article__logo__box {
  box-shadow: 5px 10px 14px 0px rgba(139, 139, 139, 0.2509803922);
  background-color: #BEAD8E;
  padding-top: 3%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;
}
.footer__section__article__logo__box__letter {
  font-family: "Archivo", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
}
.footer__section__article__logo__title {
  font-family: "Archivo", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  padding-left: 1rem;
  padding-top: 0.2rem;
}
.footer__section__article__text {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #777777;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.footer__section__article__box {
  display: flex;
  justify-content: start;
  margin-bottom: 2rem;
}
.footer__section__article__box__logo {
  margin-left: 3%;
  margin-right: 3%;
}
@media screen and (min-width: 1000px) {
  .footer__section__article__service {
    margin-top: 4rem;
  }
}
.footer__section__article__service__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #222222;
}
.footer__section__article__service__options {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.footer__section__article__service__options__listServices {
  margin-right: 1rem;
  list-style-type: none;
}
.footer__section__article__service__options__listServices__activity {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 3rem;
  color: #777777;
}
@media screen and (min-width: 1000px) {
  .footer__section__article__contact {
    margin-top: 3rem;
  }
}
.footer__section__article__contact__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #222222;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.footer__section__article__contact__call {
  display: flex;
  margin-bottom: 3rem;
}
.footer__section__article__contact__call__phone {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-left: 1rem;
}
.footer__section__article__contact__call__number {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1rem;
  margin-left: 1rem;
}
.footer__back {
  position: absolute;
  width: 21rem;
  top: 0%;
}
@media screen and (min-width: 1000px) {
  .footer__back {
    width: 100%;
    height: 34rem;
  }
}
@media screen and (min-width: 1000px) {
  .footer__info {
    display: flex;
    justify-content: space-around;
    background-color: #f8f8f8;
    margin-top: 8rem;
    align-items: center;
    width: 100%;
  }
}
.footer__info__copyright {
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 0.03rem;
  color: #222222;
}
@media screen and (min-width: 1000px) {
  .footer__info__copyright {
    padding-bottom: 1rem;
    margin-top: 1rem;
  }
}
.footer__info__terms {
  display: flex;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.footer__info__terms__use {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 0.03rem;
  color: #222222;
  margin-right: 0.5rem;
}
.footer__info__terms__privacy {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 0.03rem;
  color: #222222;
  margin-left: 0.5rem;
}

.navbar {
  background-color: #FFFFFF;
  display: flex;
  padding-bottom: 7%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
}
@media screen and (min-width: 1000px) {
  .navbar {
    max-width: 85%;
    padding-bottom: 8%;
    margin-left: 8%;
  }
}
.navbar__menu {
  margin-top: 1.75rem;
  margin-left: 1.25rem;
  height: 0.81rem;
  width: 1.25rem;
}
@media screen and (min-width: 1000px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__dropdown {
  position: absolute;
  left: 0%;
  margin-top: 17%;
  display: none;
  width: 100%;
  padding-top: 1%;
  background-color: #FFFFFF;
}
@media screen and (min-width: 1000px) {
  .navbar__dropdown {
    display: flex;
    background-color: transparent;
    margin-top: 2%;
    left: 36%;
    max-width: 50%;
  }
}
.navbar__dropdown__page {
  display: flex;
  flex-direction: column;
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  text-align: left;
  color: #222222;
  text-decoration: none;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-top: 0.6rem;
}
@media screen and (min-width: 1000px) {
  .navbar__dropdown__page {
    margin-right: 2rem;
  }
}
.navbar__logo {
  position: absolute;
  left: 17%;
  display: flex;
  padding-top: 1.06rem;
}
@media screen and (min-width: 1000px) {
  .navbar__logo {
    left: 15%;
  }
}
.navbar__logo__title {
  font-family: "Archivo", sans-serif;
  font-size: 0.6rem;
  font-weight: 500;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
@media screen and (min-width: 1000px) {
  .navbar__logo__title {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.7rem;
    letter-spacing: 0.16rem;
    text-align: left;
  }
}
.navbar__logo__subtitle {
  font-family: "Archivo", sans-serif;
  font-size: 0.6rem;
  font-weight: 400;
  padding-left: 1rem;
  padding-top: 0.5rem;
}
@media screen and (min-width: 1000px) {
  .navbar__logo__subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7rem;
    letter-spacing: 0.16rem;
    text-align: left;
  }
}
.navbar__logo__box {
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.1rem;
  box-shadow: 5px 10px 14px 0px rgba(139, 139, 139, 0.2509803922);
}
@media screen and (min-width: 1000px) {
  .navbar__logo__box {
    width: 5rem;
    height: 5rem;
  }
}
.navbar__logo__box__letter {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .navbar__logo__box__letter {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.72rem;
    margin-top: 1rem;
  }
}
.navbar__icon {
  position: absolute;
  right: 12%;
  display: flex;
}
@media screen and (min-width: 1000px) {
  .navbar__icon__logo {
    width: 3.75rem;
    height: 3.75rem;
    margin-top: 1.5rem;
    margin-right: 2rem;
    border: 2px solid rgba(133, 133, 133, 0.3019607843);
  }
}
.navbar__icon__logo__vector {
  margin-top: 1.43rem;
  margin-left: 1rem;
  width: 1rem;
  height: 1.2rem;
}
@media screen and (min-width: 1000px) {
  .navbar__icon__logo__vector {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 26%;
    margin-bottom: 0%;
  }
}

.header {
  background-color: #333333;
}
.header__back {
  display: none;
}
@media screen and (min-width: 1000px) {
  .header__back {
    background-color: #222222;
    height: 6.25rem;
  }
}
.header__title {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.1rem;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
  padding-top: 4.6rem;
  padding-left: 1.25rem;
}
@media screen and (min-width: 1000px) {
  .header__title {
    padding-left: 12%;
    padding-top: 10%;
    font-size: 0.87rem;
    font-weight: 700;
    line-height: 0.95rem;
    letter-spacing: 0.17rem;
    text-align: left;
  }
}
.header__section {
  font-weight: 400;
  font-size: 3.5rem;
  letter-spacing: -0.07rem;
  color: #FFFFFF;
  font-family: "Old Standard TT", serif;
  padding-top: 2.5rem;
  padding-left: 1.25rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1000px) {
  .header__section {
    padding-left: 12%;
    font-size: 7.5rem;
    line-height: 8rem;
    letter-spacing: -0.2rem;
  }
}
.header__box {
  display: flex;
  justify-content: end;
}
@media screen and (min-width: 1000px) {
  .header__box {
    padding-right: 11%;
  }
}
.header__box__home {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: -0.03rem;
  background-color: #FFFFFF;
  padding-left: 5%;
  padding-bottom: 5%;
  padding-top: 4%;
}
@media screen and (min-width: 1000px) {
  .header__box__home {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
  }
}
.header__box__line {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: -0.03rem;
  background-color: #FFFFFF;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 4%;
}
@media screen and (min-width: 1000px) {
  .header__box__line {
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
.header__box__page {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: -0.03rem;
  background-color: #FFFFFF;
  color: #BEAD8E;
  padding-right: 5%;
  padding-top: 4%;
  margin-right: 1rem;
}
@media screen and (min-width: 1000px) {
  .header__box__page {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
  }
}
.header__take {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 18%;
  padding-right: 18%;
  background-color: #BEAD8E;
  border: transparent;
  font-family: "Archivo", sans-serif;
  color: #FFFFFF;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1000px) {
  .header__take {
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 12%;
    margin-bottom: 8%;
  }
}
.header__learn {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 17%;
  padding-right: 18%;
  background-color: #333333;
  border: transparent;
  font-family: "Archivo", sans-serif;
  color: #FFFFFF;
  margin-left: 1.5rem;
  margin-bottom: 4rem;
  border: 2px solid rgba(255, 255, 255, 0.3294117647);
}
@media screen and (min-width: 1000px) {
  .header__learn {
    padding-left: 3%;
    padding-right: 3%;
  }
}
.header__check {
  background-color: #222222;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}
@media screen and (min-width: 1000px) {
  .header__check {
    display: flex;
    justify-content: space-around;
  }
}
.header__check__box__date {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.17rem;
  text-align: left;
  color: #FFFFFF;
  padding-bottom: 1rem;
}
.header__check__box__calendar {
  position: relative;
}
@media screen and (min-width: 1000px) {
  .header__check__box__calendar {
    margin-top: 1rem;
  }
}
.header__check__box__calendar__input {
  border: transparent;
  border-bottom: 2px solid #BEAD8E;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 5%;
  margin-bottom: 1rem;
  background-color: #222222;
}
@media screen and (min-width: 1000px) {
  .header__check__box__calendar__input {
    padding-left: 15%;
  }
}
.header__check__box__calendar__logo {
  position: absolute;
  top: 20%;
}
@media screen and (min-width: 1000px) {
  .header__check__box__calendar__logo {
    top: 16%;
  }
}
.header__check__button {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 18%;
  padding-right: 18%;
  background-color: #BEAD8E;
  border: transparent;
  font-family: "Archivo", sans-serif;
  color: #FFFFFF;
}
@media screen and (min-width: 1000px) {
  .header__check__button {
    padding-left: 4%;
    padding-right: 4%;
    max-height: 3.75rem;
    margin-top: 1rem;
    margin-right: 4rem;
  }
}

.details {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}
.details__tipe {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 0.87rem;
  line-height: 0.95rem;
  letter-spacing: 0.17rem;
  color: #777777;
  margin-top: 2rem;
}
.details__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.09rem;
  color: #222222;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.details__price {
  display: flex;
  margin-bottom: 1rem;
}
.details__price__dolar {
  font-family: "Archivo", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-align: center;
  color: #BEAD8E;
}
.details__price__time {
  font-family: "Archivo", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-align: center;
  color: #BEAD8E;
}
.details__rooms {
  width: 21rem;
  height: 13.3rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1000px) {
  .details__rooms {
    width: 48rem;
    height: 30rem;
  }
}
.details__availability {
  font-family: "Archivo", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.2rem;
  letter-spacing: -0.03rem;
  text-align: center;
}
.details__container {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}
.details__container__check {
  font-family: "Archivo", sans-serif;
  font-size: 0.87rem;
  font-weight: 700;
  line-height: 0.95rem;
  text-align: left;
  color: #222222;
  margin-top: 1rem;
}
.details__container__calendar {
  padding-left: 1.5rem;
  padding-right: 4.3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  background-color: #f8f8f8;
  border: transparent;
}
.details__container__logoIn {
  position: absolute;
  right: 15%;
  bottom: 44%;
}
.details__container__logoOut {
  position: absolute;
  right: 15%;
  top: 20%;
}
.details__container__button {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  padding-left: 0rem;
  padding-right: 0rem;
  background-color: #BEAD8E;
  border: transparent;
  font-family: "Archivo", sans-serif;
  color: #FFFFFF;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.details__text {
  font-family: "Roboto", sans-serif;
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  color: #777777;
  margin-bottom: 2rem;
}
.details__amenities {
  font-family: "Old Standard TT", serif;
  font-size: 1.87rem;
  font-weight: 400;
  line-height: 1.87rem;
  text-align: left;
  color: #222222;
}
@media screen and (min-width: 1000px) {
  .details__amenities {
    padding-left: 10%;
    padding-right: 90%;
  }
}
.details__services {
  display: flex;
  margin-top: 1rem;
}
@media screen and (min-width: 1000px) {
  .details__services {
    margin-top: 5%;
    justify-content: space-around;
    width: 48rem;
  }
}
.details__services__list {
  list-style-type: none;
  margin-right: 0.8rem;
  margin-bottom: 5rem;
}
.details__services__list__info {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1rem;
  text-align: left;
  margin-bottom: 1rem;
}
.details__services__list__info__logo {
  margin-right: 0.5rem;
}
@media screen and (min-width: 1000px) {
  .details__services__list {
    display: none;
  }
}
.details__founder {
  position: relative;
}
.details__founder__ellipse {
  position: absolute;
  right: 29%;
  z-index: 1;
}
.details__founder__check {
  position: absolute;
  right: 33%;
  top: 4%;
  z-index: 2;
}
@media screen and (min-width: 1000px) {
  .details__founder__check {
    top: 15%;
  }
}
.details__founder__photo {
  width: 9.3rem;
  height: 9.3rem;
  border-radius: 100%;
  position: relative;
  left: 28%;
}
.details__founder__name {
  font-family: "Old Standard TT", serif;
  font-size: 1.87rem;
  font-weight: 400;
  line-height: 1.87rem;
  letter-spacing: -0.05rem;
  text-align: center;
  margin-top: 2rem;
}
.details__founder__co {
  font-family: "Archivo", sans-serif;
  font-size: 0.87rem;
  font-weight: 700;
  line-height: 0.95rem;
  letter-spacing: 0.17rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #BEAD8E;
}
.details__founder__text {
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: center;
  color: #777777;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1000px) {
  .details__founder__text {
    padding-left: 9%;
    padding-right: 9%;
  }
}
@media screen and (min-width: 1000px) {
  .details__founder {
    width: 23rem;
    height: 28rem;
    box-shadow: 0px 14px 24px 0px rgba(190, 173, 142, 0.2705882353);
    margin-top: 15%;
    margin-right: 55%;
    padding-top: 7%;
  }
}
.details__cancellation {
  font-family: "Old Standard TT", serif;
  font-size: 1.87rem;
  font-weight: 400;
  line-height: 1.87rem;
  text-align: left;
}
.details__text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  color: #777777;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1000px) {
  .details__text {
    margin-bottom: 20%;
  }
}
.details__box {
  margin-top: 1rem;
  position: relative;
}
@media screen and (min-width: 1000px) {
  .details__box {
    display: none;
  }
}
.details__box__image {
  width: 20.9rem;
  height: 13.6rem;
}
@media screen and (min-width: 1000px) {
  .details__box__image {
    width: 23rem;
    height: 15rem;
  }
}
.details__box .swiper {
  height: 15.25rem;
  width: 20.9rem;
}
.details__box .swiper .swiper-button-prev {
  color: #222222;
  padding: 1rem;
  background-color: #FFFFFF;
  --swiper-navigation-size: 1rem;
}
.details__box .swiper .swiper-button-prev:hover {
  background-color: #BEAD8E;
}
.details__box .swiper .swiper-button-next {
  color: #222222;
  padding: 1rem;
  background-color: #FFFFFF;
  --swiper-navigation-size: 1rem;
}
.details__box .swiper .swiper-button-next:hover {
  background-color: #BEAD8E;
}
.details__box__boxLogo {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  max-width: 16rem;
  padding-left: 6%;
  padding-right: 37%;
  padding-top: 3%;
  padding-bottom: 3%;
  position: absolute;
  bottom: 38%;
  left: 12%;
  z-index: 1;
}
@media screen and (min-width: 1000px) {
  .details__box__boxLogo {
    bottom: 39%;
    max-width: 19rem;
    left: 9%;
    padding-left: 13%;
  }
}
.details__box__boxLogo__logo {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.details__box__boxLogo__img {
  padding-right: 1rem;
}
.details__box__title {
  font-family: "Old Standard TT", serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -0.04rem;
  text-align: center;
  color: #222222;
  margin-top: 1rem;
}
@media screen and (min-width: 1000px) {
  .details__box__title {
    margin-top: 10%;
    margin-bottom: 5%;
  }
}
.details__box__text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #777777;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1000px) {
  .details__box__text {
    padding-left: 15%;
    padding-right: 15%;
  }
}
.details__box__container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.details__box__container__price {
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  text-align: right;
  color: #BEAD8E;
  margin-right: 0.5rem;
}
.details__box__container__booking {
  font-family: Archivo;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.41px;
  text-align: right;
  color: #BDBDBD;
  margin-left: 0.5rem;
}

@media screen and (min-width: 1000px) {
  .containerDesktop {
    position: relative;
    margin-left: 12%;
  }
}

@media screen and (min-width: 1000px) {
  .containerInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 87%;
    position: absolute;
    background-color: white;
    width: 45rem;
  }
}

@media screen and (min-width: 1000px) {
  .formDesktop {
    max-width: 23rem;
    margin-left: 5%;
  }
}

@media screen and (min-width: 1000px) {
  .containerForm {
    display: flex;
    margin-top: 15%;
  }
}

@media screen and (min-width: 1000px) {
  .sectionDesktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-left: 12%;
    max-width: 48rem;
  }
}

.ListDesk {
  display: none;
}
@media screen and (min-width: 1000px) {
  .ListDesk {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 15%;
  }
}

@media screen and (min-width: 1000px) {
  .container-cancellation {
    margin-top: 15%;
  }
}

@media screen and (min-width: 1000px) {
  .desktop-line {
    width: 100%;
    margin-bottom: 15%;
  }
}

@media screen and (min-width: 1000px) {
  .photos-desktop {
    position: relative;
    max-width: 23rem;
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .card-desktop {
    margin-right: 15%;
  }
}

@media screen and (min-width: 1000px) {
  .container-photos {
    width: 100%;
    margin-bottom: 10%;
  }
}

@media screen and (min-width: 1000px) {
  .container-swipper {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .card-desktopGrid {
    max-width: 23rem;
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .rooms-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
}/*# sourceMappingURL=roomsDetails.css.map */