.rooms{
    padding-top: 75rem;
    position: relative;
    @media screen and (min-width: 1000px) {
        padding-top: 14%;
    }
    &__page{
        font-family: $archivo;
        font-weight: 700;
        font-size: 0.87rem;
        line-height: 1rem;
        letter-spacing: 0.17rem;
        color: $grey7;
        text-align: center;
    }
    &__title{
        font-family: $old;
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 3.75rem;
        letter-spacing: -0.075rem;
        text-align: center;
        padding-bottom: 4rem;
        padding-top: 1rem;
    }
    &__slider{
        position:relative;
        width: 19.9rem;
        @media screen and (min-width: 1000px) {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
        &__boxLogo{
            display: flex;
            align-items: center;
            background-color: $whiteF;
            max-width: 16rem;
            padding-left: 6%;
            padding-right: 37%;
            padding-top: 3%;
            padding-bottom: 3%;
            position: absolute;
            bottom: 92%;
            left: 18%;
            z-index: 1 ;
            &__logo{
                margin-left: 0.5rem;
                margin-right: 0.5rem;
            }
            &__img{
                padding-right: 1rem;
            }
        }
        &__image{
            margin-top: 1rem;
            width: 23.9rem;
            height: 15.25rem;
            @media screen and (min-width: 1000px) {
                width: 48rem;
                height: 31rem; 
            }
        }
        .swiper-food{
            width: 23.39rem;
            height: 28.6rem; 
            @media screen and (min-width: 1000px) {
                width: 100%;
                height: 31rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
            }
            .swiper-button-prev{
                color: $black2;
                padding: 1rem;
                background-color: $whiteF;
                top: var(--swiper-navigation-top-offset, 28%);
                --swiper-navigation-size: 1rem;
                &:hover{
                    background-color: $beige;
                }
            }
            .swiper-button-next{
                 color: $black2;
                 padding: 1rem;
                 background-color: $whiteF;
                 top: var(--swiper-navigation-top-offset, 28%);
                 --swiper-navigation-size: 1rem;
                &:hover{
                     background-color: $beige;
                }
            }
        
        }
        &__card{
            position: absolute;
            background-color: $whiteF;
            width: 20.9rem;
            top: 48%;
            left: 6%;
            z-index: 1;
            &__title{
                font-family: $old;
                font-weight: 400;
                font-size: 1.75rem;
                line-height: 2.25rem;
                letter-spacing: -0.075rem;
                color: $black2;
                padding-top: 1.5rem;
                text-align: center;
            }
            &__text{
                font-family: $roboto;
                font-size: 0.0.87rem;
                font-weight: 400;
                line-height: 1.5rem;
                text-align: center;
                color: $grey7;
            }
            &__price{
                font-family: "Archivo";
                font-weight: 700;
                font-size: 2rem;
                line-height: 2.68rem;
                text-align: center;
                color: #BEAD8E;
            }
        }
    }
    &__boxVideo{
        background-color: #222222;
        display: flex;
        flex-direction: column;
        margin-top: 13rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        @media screen and (min-width: 1000px){
            position: relative;
            height: 35rem;
        }
        &__container{

            @media screen and (min-width: 1000px){
                width: 30rem;
                margin-left: 15%;
                margin-top: 2%;
            }
            &__intro{
                font-family: "Archivo";
                font-weight: 700;
                font-size: 0.87rem;
                line-height: 0.95rem;
                letter-spacing: 0.17rem;
                text-align: start;
                color: #BDAC8D;
                padding-top: 4rem;
            }
            &__title{
                font-family: "Old Standard TT";
                font-weight: 400;
                font-size: 3.5rem;
                line-height: 3.75rem;
                letter-spacing: -0.075rem;
                color: #ffffff;
                padding-top: 1.5rem;
            }
            &__text{
                font-family: "Archivo";
                font-weight: 400;
                font-size: 0.87rem;
                line-height: 1.5rem;
                color: #C2C2C2;
                padding-top: 1.5rem;
                margin-bottom: 2rem;
            }
        }

        &__video{
            width: 100%;
            height: 16.8rem;
            @media screen and (min-width: 1000px) {
                position: absolute;
                width: 35.5rem;
                height: 25rem;
                right: 12%;
                top: 13%;
            }
        }
        &__buttonBook{
            width: 13.5rem;
            height: 3.7rem;
            background-color: #BDAC8D;
            color: #ffffff;
            font-family: "Archivo";
            font-weight: 700;
            font-size: 0.87rem;
            line-height: 0.95rem;
            letter-spacing: 0.175rem;
            border: transparent;
            margin-top: 2rem;
            margin-bottom: 2rem;
            @media screen and (min-width: 1000px) {
                position: absolute;
                left: 16%;
                bottom: 12%;
            }
        }
        &__rectangleBrown{
            display: none;
            @media screen and (min-width: 1000px){
                display: block;
                position: absolute;
                right: 0%;
                width: 30rem;
                height: 35rem;
            }
        }
    }
    }
    
        
    

